@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h3,
h1 {
  font-family: "montserrat";
  /* font-family: "Playfair Display", serif; */
}

button {
  cursor: pointer;
  outline: none;
}

/* Header */

header {
  height: 96vh;
  background-image: linear-gradient(
      1deg,
      rgba(0, 0, 0, 0.555),
      rgba(0, 0, 0, 0.212)
    ),
    url(./img/andrea-donato-xIYzPKPYqQg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#overlay-div {
  position: absolute;
  z-index: -100;
  /* height: 100%; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

nav {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
  font-family: "Poppins", sans-serif;
}

nav .logo {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .logo img {
  width: 85px;
}

nav .nav-list {
  display: flex;
  align-items: center;
  z-index: 99;
  transition: 0.25s;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 32px;
}

nav ul li a {
  padding: 0.35em 0.25em;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: palevioletred;
}

#active_link:after {
  content: "";
  background-color: black;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.35s;
}

.nav-icons {
  display: flex;
}

.nav-icons .social-icon {
  margin: 0 0.75em;
}

.nav-icons .social-icon img {
  height: 28px;
  /* cursor: pointer; */
}

.nav-hidden-icons {
  display: none;
  margin-top: 3.5em;
  text-align: center;
  color: gray;
}

.social-icon-hidden {
  margin-top: 0.75em;
  justify-content: space-evenly;
  padding: 0 2em;
}

.social-icon-hidden img {
  height: 27px;
}

#cross {
  display: none;
  font-size: 28px;
}

#bars {
  display: none;
  font-size: 28px;
  position: absolute;
  z-index: 101;
  top: 25px;
  right: 0;
  margin-right: 2.5em;
}

.bg-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(99vh - 80px);
  padding: 6em 0.75em;
  text-align: center;
}

.bg-hero h3 {
  font-weight: 400;
  font-size: 1.75rem;
  color: white;
  margin-bottom: 0.25em;
}

.bg-hero h1 {
  font-weight: 400;
  font-size: 5.5rem;
  /* letter-spacing: 1px; */
  color: white;
  margin-bottom: 0.25em;
}

.bg-hero button {
  height: 60px;
  width: 215px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  margin-bottom: 1em;
}

@media (min-width: 1101px) {
  nav ul li a:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.616);
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.35s;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  nav {
    display: inline-block;
  }

  nav ul {
    width: 250px;
    height: 100vh;
    background-color: white;
    display: block;
  }

  nav ul li {
    font-weight: 300;
    margin: 3em 0 0 3em;
  }

  nav ul li a {
    font-weight: 400;
    font-size: 20px;
  }

  nav .nav-list {
    position: absolute;
    z-index: 102;
    left: -1500px;
    top: 0;
    display: inline-block;
    height: 96vh;
    width: 100%;
  }

  .nav-hidden-icons {
    display: block;
  }

  .social-icon-hidden {
    display: flex;
  }

  .nav-icons {
    display: none;
  }

  #bars {
    display: flex;
  }

  #cross {
    display: block;
    /* float: right; */
    text-align: right;
    padding: 1em 1em 1em 0;
  }
  .bg-hero h3 {
    font-size: 1.25rem;
  }
  .bg-hero h1 {
    font-size: 4.5rem;
  }
  .bg-hero button {
    height: 50px;
    width: 200px;
    font: 16px;
  }
}

@media (max-width: 950px) {
  .bg-hero h3 {
    font-size: 1rem;
  }
  .bg-hero h1 {
    font-size: 3.75rem;
  }
}
@media (max-width: 650px) {
  nav {
    padding: 0 2em;
  }

  #bars {
    margin-right: 1.75em;
  }

  .bg-hero h3 {
    font-size: 0.85rem;
  }
  .bg-hero h1 {
    font-size: 3.15rem;
  }
}

@media (max-width: 450px) {
  nav {
    height: 70px;
  }

  #bars {
    top: 22.5px;
  }

  nav .logo img {
    width: 75px;
  }

  .bg-hero h3 {
    font-size: 0.85rem;
    margin-bottom: 0.55em;
  }
  .bg-hero h1 {
    font-size: 2.25rem;
  }

  .bg-hero button {
    margin-top: 0.55em;
    width: 190px;
    height: 45px;
    font-size: 17px;
  }
}

@media (max-width: 380px) {
  .bg-hero h3 {
    font-size: 0.85rem;
  }
  .bg-hero h1 {
    font-size: 2.5rem;
  }
}

/* Header */

.about-us {
  display: flex;
  height: 90vh;
}

.about-us-left {
  /* background-color: aqua; */
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-text {
  width: 70%;
}

.about-us-text h3 {
  font-size: 20px;
  color: palevioletred;
  margin-bottom: 20px;
}

.about-us-text p:nth-child(2) {
  font-family: "Merriweather", sans-serif;
  font-size: 46px;
  margin-bottom: 25px;
}

.about-us-text p:nth-child(3) {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.3;
}
.about-us-right {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 0 3em;
}
